<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
        <title>Knihovna - {{ title }}</title>
    {% else %}
        <title>Knihovna</title>
    {% endif %}
  <title>Knihovna</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Aplikace Knihovna</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Vyhledávání</a></li>
      <li><a href="{{ url_for('login') }}">Přihlášení</a></li>
      <li><a href="{{ url_for('register') }}">Registrace</a></li>
      <li><a href="#">O projektu</a></li>
    </ul>
  </div>
</nav>
<main class ="container.fluid">
    <div class = "row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            {% block content %}

            {% endblock %}
        </div>

        <div class="col-md-2"></div>
    </div>

</main>


</body>
</html>