{% extends "main.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Uživatelské jméno </label>
                    <input type="text" class="form-control" name="username" placeholder="Uživatelské jméno">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Heslo</label>
                    <input type="password" class="form-control" name="pass" placeholder="Heslo">
                </div>
                <button type="button" class="btn btn-secondary btn-lg btn-block">Registruj se</button>
                <li><a href="{{ url_for('login') }}">Už máš účet? Přihlaš se zde.</a></li>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}