{% extends "layout.html" %}
{% set active_page = "about" %}
{% block title %}
About
{% endblock %}

{% block content %}

        <h1>Autoři</h1>

    <div class="row">
      <div class="col-sm-6">
        <div class="card mb-3">
          <img src="../static/profile_pic.png" class="card-img-top" alt="Author 1">
          <div class="card-body">
            <h5 class="card-title">Dominik Potato</h5>
            <p class="card-text">Why did the potato king cross the road? To get to the mash-eteria!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mb-3">
          <img src="../static/profile_pic2.jpg" class="card-img-top" alt="Author 2">
          <div class="card-body">
            <h5 class="card-title">Vladimir Brambora</h5>
            <p class="card-text">Why did the potato cross the road? Because he wanted to prove he was a french fry-tional vegetable!</p>
          </div>
        </div>
      </div>
    </div>



{% endblock %}