{% extends "layout.html" %}

{% block title %}
    Editace uživatele
{% endblock %}

{% set active_page = "users_catalog" %}

{% block content %}

    <table class="table table-hover">
        <form class="form-signin" method="POST"
              action="{{ url_for('edit_user', user_id=user["_id"]|string()) }}">
            {{ edit_form.csrf_token }}
            <tbody>
            <tr>
                <td>{{ edit_form.fname.label }}</td>
                <td>{{ edit_form.fname(class="form-control", value=user["fname"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_form.lname.label }}</td>
                <td>{{ edit_form.lname(class="form-control", value=user["lname"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_form.birthnum.label }}</td>
                <td>{{ edit_form.birthnum(class="form-control", value=user["birthnum"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_form.email.label }}</td>
                <td>{{ edit_form.email(class="form-control", value=user["email"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_form.street.label }}</td>
                <td>{{ edit_form.street(class="form-control", value=user["street"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_form.city.label }}</td>
                <td>{{ edit_form.city(class="form-control", value=user["city"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_form.zip.label }}</td>
                <td>{{ edit_form.zip(class="form-control", value=user["zip"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_form.username.label }}</td>
                <td>{{ edit_form.username(class="form-control", value=user["username"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_form.activated.label }}</td>
                <td>{{ edit_form.activated(class="form-check-input",type="checkbox", active=True) }}</td>
            </tr>
            <tr>
                <td>{{ edit_form.role.label }}</td>
                <td>{{ edit_form.role(class="form-control", value=user["role"]) }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ edit_form.submit(class="btn btn-primary btn-lg btn-block") }}</td>
            </tr>

            </tbody>
        </form>
    </table>

    <h3>Knihy zapůjčené uživatelem</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Obrázek</th>
            <th scope="col">Název knihy</th>
            <th scope="col">Autor</th>
            <th scope="col">Počet stran</th>
            <th scope="col">Rok vydání</th>
            <th scope="col">Termín vrácení</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        {% for book in borrowed_books %}
            <tr>
                <th scope="row">{{ loop.index0 }}</th>
                <td><img src="/book_picture/{{ book["picture"] }}" height="100"></td>
                <td>{{ book["title"] }}</td>
                <td>{{ book["author"] }}</td>
                <td>{{ book["num_pages"] }}</td>
                <td>{{ book["release_year"] }}</td>
                <td>{{ borrowed_until[loop.index0] }}</td>
                <td><a href="{{ url_for('return_book', book_id = book["_id"]|string(), username=user["username"]) }}">Odebrat</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for("give_user_book", user_id=user["_id"]|string(), sort_value = "default", type="asc", search_value="None") }}" class="btn btn-primary btn-lg btn-block"
       role="button">Přiřadit uživateli knihu</a>

    <h3>Historie výpůjček</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Název knihy</th>
            <th scope="col">Autor</th>
            <th scope="col">Rok vydání</th>
            <th scope="col">Typ transakce</th>
            <th scope="col">Datum transakce</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for log in user_history %}
            <tr>
                <th scope="row">{{ loop.index0 }}</th>
                <td>{{ log["title"] }}</td>
                <td>{{ log["author"] }}</td>
                <td>{{ log["release_year"] }}</td>
                <td>{{ log["transaction"] }}</td>
                <td>{{ log["date"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
