{% extends "layout.html" %}

{% block title %}
    Editace knihy
{% endblock %}

{% set active_page = "library_catalog" %}

{% block content %}

    <table class="table table-hover">
        <form class="form-signin" method="POST"
              action="{{ url_for('edit_book', book_id=book["_id"]|string()) }}">
            {{ edit_book_form.csrf_token }}
            <tbody>
            <tr>
                <td>{{ edit_book_form.title.label }}</td>
                <td>{{ edit_book_form.title(class="form-control", value=book["title"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_book_form.author.label }}</td>
                <td>{{ edit_book_form.author(class="form-control", value=book["author"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_book_form.release_year.label }}</td>
                <td>{{ edit_book_form.release_year(class="form-control", value=book["release_year"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_book_form.num_pages.label }}</td>
                <td>{{ edit_book_form.num_pages(class="form-control", value=book["num_pages"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_book_form.num_pcs.label }}</td>
                <td>{{ edit_book_form.num_pcs(class="form-control", value=book["num_pcs"]) }}</td>
            </tr>
            <tr>
                <td>{{ edit_book_form.picture.label }}</td>
                <td>{{ edit_book_form.picture(class="form-control", value=book["picture"]) }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ edit_book_form.submit(class="btn btn-primary btn-lg btn-block") }}</td>
            </tr>

            </tbody>
        </form>
    </table>

    <h3>Uživatelé, kteří mají knihu zapůjčenou</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Jméno</th>
            <th scope="col">Přijmení</th>
            <th scope="col">E-mail</th>
            <th scope="col">Uživatelské jméno</th>
            <th scope="col">Město</th>
            <th scope="col">Ulice</th>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        {% for user in borrowed_by_users %}
            <tr>
                <th scope="row">{{ loop.index0 }}</th>
                <td>{{ user["fname"] }}</td>
                <td>{{ user["lname"] }}</td>
                <td>{{ user["email"] }}</td>
                <td>{{ user["username"] }}</td>
                <td>{{ user["city"] }}</td>
                <td>{{ user["street"] }}</td>
                <td><a href="{{ url_for('edit_user', user_id = user["_id"]|string()) }}">Upravit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
