{% extends "layout.html" %}

{% block title %}
    Přiřadit knihu uživateli
{% endblock %}

{% set active_page = "users_catalog" %}

{% block content %}

    <h3>Databáze knih</h3>
    <form class="form-inline" method="POST"
          action="{{ url_for('give_user_book', user_id = user["_id"], sort_value = sort_value, type=type, search_value=search_value) }}">
        {{ search_form.csrf_token }}
        {{ search_form.search_data(class="form-control mr-sm-2", placeholder="Zadejte hledaný výraz") }}
        {{ search_form.submit(class="btn btn-outline-success my-2 my-sm-0") }}
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Obrázek</th>
            <th scope="col">Název knihy
                <a href="{{ url_for('give_user_book',user_id = user["_id"], sort_value = "title", type = "asc", search_value=search_value) }}">↑</a>
                <a href="{{ url_for('give_user_book',user_id = user["_id"], sort_value = "title", type = "desc", search_value=search_value) }}">↓</a>
            </th>
            <th scope="col">Autor
                <a href="{{ url_for('give_user_book',user_id = user["_id"], sort_value = "author", type = "asc", search_value=search_value) }}">↑</a>
                <a href="{{ url_for('give_user_book',user_id = user["_id"], sort_value = "author", type = "desc", search_value=search_value) }}">↓</a>
            </th>
            <th scope="col">Počet stran</th>
            <th scope="col">Rok vydání
                <a href="{{ url_for('give_user_book',user_id = user["_id"], sort_value = "release_year", type = "asc", search_value=search_value) }}">↑</a>
                <a href="{{ url_for('give_user_book',user_id = user["_id"], sort_value = "release_year", type = "desc", search_value=search_value) }}">↓</a>
            </th>
            <th scope="col">Počet volných kusů</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <th scope="row">{{ loop.index0 }}</th>
                <td><img src="/book_picture/{{ book["picture"] }}" height="100"></td>
                <td>{{ book["title"] }}</td>
                <td>{{ book["author"] }}</td>
                <td>{{ book["num_pages"] }}</td>
                <td>{{ book["release_year"] }}</td>
                <td>{{ book["num_pcs"] }}</td>
                <td><a href="{{ url_for('borrow', book_id = book["_id"]|string(), username=user["username"]) }}">Přiradit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}