{% extends "layout.html" %}

{% block title %}
Registrace
{% endblock %}

{% set active_page = "register" %}

{% block content %}
    <div class="container">
        <form class="form-signin" method = "POST" action="/register">

            <div class="form-group">
                <label for = "fname" >Jméno</label>
                <input type="text" id="fname" class="form-control" placeholder="Jmeno" required autofocus>
            </div>

            <div class="form-group">
                <label for = "lname" >Příjmení</label>
                <input type="text" id="lname" class="form-control" placeholder="Prijmeni" required autofocus>
            </div>

            <div class="form-group">
                <label for = "birthnum" >Rodné číslo</label>
                <input type="number" id="birthnum" class="form-control" placeholder="Rodné číslo bez /" minlength="9" maxlength="10"required autofocus>
            </div>

            <div class="form-group">
                <label for = "email" >Email</label>
                <input type="email" id="email" class="form-control" placeholder="Email" required autofocus>
            </div>

            <div class="form-group">
                <label for = "street" >Ulice</label>
                <input type="text" id="street" class="form-control" placeholder="Ulice" required autofocus>
            </div>

            <div class="form-group">
                <label for = "city" >Město</label>
                <input type="text" id="city" class="form-control" placeholder="Město" required autofocus>
            </div>

            <div class="form-group">
                <label for = "zip" >PSČ</label>
                <input type="text" id="zip" class="form-control" placeholder="PSČ" required autofocus>
            </div>

            <div class="form-group">
                <label for = "username" >Uživatelské jméno</label>
                <input type="text" id="username" class="form-control" placeholder="Uzivatelske jmeno" required autofocus>
            </div>

            <div class="form-group">
                <label for = "password" >Heslo</label>
                <input type="password" id="password" class="form-control" placeholder="Heslo" required autofocus>
            </div>

            <button type="submit" class="btn btn-secondary btn-lg btn-block">Registruj se</button>
                <li><a href="{{ url_for('login') }}">Máte účet? Přihlašte se zde.</a></li>
        </form>
    </div>

{% endblock %}